.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blocQuestions{
    border: solid;
    border-radius: 10px;
    border-color: whitesmoke;
    width: 340;
    padding: 20px;
    margin-bottom: 40px;
}

.question{
    margin-top: 20px;
}

h1{
    text-align: center;
    margin-bottom: 60px;
}

h1, p{
    color: white;
}

input{
    width: 156px;
    margin-bottom: 10px;
}

select{
    width: 164px;
}

.response{
    color: greenyellow;
}

.picture{
    margin-bottom: 10px;
}