.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blocQuestions{
    margin-left: 6%;
}

h1{
    text-align: center;
}

h1, p{
    color: white;
}

input{
    width: 156px;
    margin-bottom: 10px;
}

select{
    width: 164px;
}

.response{
    color: greenyellow;
}

.picture{
    margin-bottom: 10px;
}