.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, p{
    color: white;
}

input{
    width: 156px;
    margin-bottom: 10px;
}

select{
    width: 164px;
}

.response{
    color: greenyellow;
}