<h1>QUIZ : {{quizName}}</h1>
<div class="container">
    
    <div class="blocQuestions" *ngFor="let quiz of quizs; index as i;">
        <div class="question">
            <p>{{i+1}}- {{quiz.question}}</p>
            <img 
                *ngIf="quiz.elements.hasPicture"
                class="picture"
                width="{{quiz.elements.widthPicture}}" 
                height="{{quiz.elements.heightPicture}}" 
                src="{{quiz.elements.urlPicture}}"
                alt="img" 
            />
            <iframe 
                *ngIf="quiz.elements.hasVideo"
                width="{{quiz.elements.widthVideo}}" 
                height="{{quiz.elements.heightVideo}}" 
                src="{{quiz.elements.urlVideo}}">
            </iframe>
        </div>
        <div *ngIf="!quiz.hasAnswered">
            <div>
                <select name="allAnswers" id="answer-select" *ngIf="quiz.visible && quiz.useFourChoices" [(ngModel)]="quiz.playerAnswer">
                    <option value="">--Choisir une réponse--</option>
                    <option *ngFor="let choice of quiz.fourChoises" value='{{choice}}'>{{choice}}</option>
                </select>
                <form (submit)="onSubmit(quiz.playerAnswer, i)" *ngIf="quiz.visible && !quiz.useFourChoices">
                    <input [(ngModel)]="quiz.playerAnswer" name="playerResponse">
                </form>
            </div>
            <button type="button" (click)="onClickFourChoices(quiz.useFourChoices, i)" *ngIf="quiz.visible && !quiz.useFourChoices">Je veux les 4 choix</button>
            <button type="button" (click)="onClickPlayerAnswer(quiz.playerAnswer, i)" *ngIf="quiz.visible">OK</button>
        </div>
        <p *ngIf="quiz.hasAnswered && quiz.hasGoodAnswer" class="response" style="color: greenyellow;">{{quiz.answer}}</p>
        <p *ngIf="quiz.hasAnswered && !quiz.hasGoodAnswer" class="response" style="color: red;">{{quiz.answer}}</p>
    </div>
</div>