<h1>QUIZ : {{quizName}}</h1>
<div class="container">
    
    <div class="blocQuestions" *ngFor="let quiz of quizs; index as i;">
        <p>{{i+1}}- {{quiz.question}}</p>
        <div class="question">
            <img 
                *ngIf="quiz.elements.hasPicture"
                class="picture"
                width="{{quiz.elements.widthPicture}}" 
                height="{{quiz.elements.heightPicture}}" 
                src="{{quiz.elements.urlPicture}}"
                alt="img" 
            />
            <audio *ngIf="quiz.elements.hasAudio"
                style="width: 164px; margin-bottom: 6px;" 
                controls src="{{quiz.elements.urlAudio}}"
            >
            </audio>
            <iframe 
                *ngIf="quiz.elements.hasVideo"
                [src]='updateVideoUrl(quiz.elements.urlVideo)' 
                width="{{quiz.elements.widthVideo}}" 
                height="{{quiz.elements.heightVideo}}" 
            >
            </iframe>
        </div>
        <div *ngIf="!quiz.hasAnswered">
            <div>
                <select name="allAnswers" id="answer-select" *ngIf="quiz.visible && quiz.useFourChoices" [(ngModel)]="quiz.playerAnswer" style="margin-bottom: 10px;">
                    <option value="">--Choisir une réponse--</option>
                    <option *ngFor="let choice of quiz.fourChoises" value='{{choice}}'>{{choice}}</option>
                </select>
                <form (submit)="onSubmit(quiz.playerAnswer, i)" *ngIf="quiz.visible && !quiz.useFourChoices" autocomplete="off" onkeypress="return event.keyCode != 13;">
                    <input [(ngModel)]="quiz.playerAnswer" name="playerResponse">
                </form>
            </div>
            <div *ngIf="quiz.visible">
                <button type="button" (click)="onClickFourChoices(quiz.useFourChoices, i)" *ngIf="!quiz.useFourChoices">Je veux les 4 choix</button>
                <button type="button" (click)="onClickPlayerAnswer(quiz.playerAnswer, i)" *ngIf="!quiz.useFourChoices">OK</button>
                <button type="button" (click)="onClickPlayerAnswer(quiz.playerAnswer, i)" *ngIf="quiz.useFourChoices"  style="margin-left: 60px;">OK</button>
            </div>
        </div>
        <div *ngIf="quiz.hasAnswered">
            <div>
                <select name="allAnswers" id="answer-select" [(ngModel)]="quiz.playerAnswer" style="margin-bottom: 10px;">
                    <option value="">--Choisir une réponse--</option>
                    <option *ngFor="let choice of quiz.fourChoises" value='{{choice}}'>{{choice}}</option>
                </select>
            </div>
            <div *ngIf="!quiz.badAnswerWithChoices && !quiz.hasGoodAnswer" style="margin-left: 60px;">
                <button type="button" (click)="onClickPlayerAnswerAfterBadAnswer(quiz.playerAnswer, i)">OK</button>
            </div>
        </div>
        <div>
            <p *ngIf="quiz.hasAnswered && quiz.hasGoodAnswer" class="response" style="color: greenyellow;">{{quiz.answer}}</p>
            <p *ngIf="quiz.hasAnswered && !quiz.hasGoodAnswer && quiz.badAnswerWithChoices" class="response" style="color: red;">{{quiz.answer}}</p>
        </div>
    </div>
</div>

<h1>VOTRE SCORE EST DE <span style="color: aquamarine;">{{points}}</span> POINT{{points > 1 ? "S" : ""}} SUR <span style="color: goldenrod;"> {{count * 3}}</span>.</h1>